<div id="content">
  <h1>Hacker News Karma Tracker</h1>
  <div class="fb-like" data-href="http://hn-karma-tracker.herokuapp.com/" data-send="true" data-width="450" data-show-faces="true"></div>
  <p>
    Currently tracking <strong><%= @total_users %></strong> users.
  </p>
  <form>
  Enter your Hacker News Username: <input id="username" type="text"> 
  <input type="submit" value="See your Data">
  </form>
  <div id="error"></div>
  <div id="result_box" style="display:none">
    <h2><span class="uname"></span> (<span class="karma"></span>)</h2>
    As of: <span id="time"></span><br>
    <hr>    
    <div id="overall">
      <h3>Among all active users</h3>
      Total users: <span class="total value"></span><br>
      Total users with less karma: <span class="below_karma value"></span><br>
      Your rank: <span class="rank value"></span><br>
      Overall karma percentile: <span class="percentile value"></span><br>
      <br>
      Average karma increase per day: <span class="karma_per_day value"></span><br>
      Total users with slower increasing karma: <span class="slower_karma value"></span><br>
      Your speed rank: <span class="speed_rank value"></span><br>
      Speed percentile: <span class="speed_percentile value"></span>
    </div>
    <hr>
    <div id="reg_month">
      <h3>Among active users from your registration month (<a href="ff" class="reg_month"></a>)</h3>
      Total users: <span class="total value"></span><br>
      Total users with less karma than you: <span class="below_karma value"></span><br>
      Your rank: <span class="rank value"></span><br>
    Percentile: <span class="percentile value"></span>
    </div>
  </div>
  <h2>Other Links</h2>
  <a href="/overall">Overall karma leaders</a><br>
  <a href="/superstars">Karma Superstars</a><br>
  <a href="/months">All registration months</a>
  <h2>Interesting facts</h2>
  In order to downvote comments, you need a karma of 500.
  Currently <strong><%= number_with_precision @downvote_percentage %></strong>% of users have a karma above 500.
  <h2>How it works</h2>
  <p>A process crawls all items posted on <a href="http://news.ycombinator.com/">Hacker News</a> (link submissions, comments, etc) every
  10 minutes, collects usernames and karma values and stores them into a database that this site uses.  All data comes from
  the <a href="http://hnsearch.algolia.com/api">HNSearch API (powered by Algolia)</a>. See code on <a href="https://github.com/priestc/hnpercentile">Github</a>. Contact: nbvfour at gmail.com.
  </p><p>
  Updated March 2014 by Jared Sohn (jared.sohn at gmail.com) to use Algolia's HNSearch API.  New features include:
  <ul>
    <li>Separates out comment and story karma (excluding what has been deleted)</li>
    <li>Graphs karma by date on a per user and on an aggregate basis</li>
    <li>Includes all users who have ever commented on Hacker News (used to only include those who have commented since January 2013)</li>
  </ul>
  </p>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=331657940258873";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
