<div id="content">
  <h1>Overall Karma leaders</h1>
  <a href="/">Home</a>
  <ol id="userlist">
  <% @members.each do |member| %>
    <li>
      <div class="username"><%= member.username %> (<%= member.karma %>)</div>
      <div class="bar" style="width: <%= member.karma / @max_karma.to_f * 100 %>%">&nbsp;</div>
    </li>
  <% end %>
  </ol>
</div>
