<div id="content">
  <h1>Overall Karma leaders</h1>
  <a href="/">Home</a>
  <ol id="userlist">
  <% @members.each do |member| %>
    <li>
      <div class="username"><%= member.username %> <span class='parenthesis'>(<%= member.karma %>)</span></div>
      <div class="bar" style="width: <%= member.get_width(@max_karma) %>%">&nbsp;</div>
    </li>
  <% end %>
  </ol>
</div>
