// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#userlist li {
  position: relative;
  height: 19px;
}

.bar {
  z-index: 1;
  position: absolute;
  top: 0;
  background: PaleTurquoise;
  border: 1px solid #A6A6A6;
}

.username {
  z-index: 10;
  top: 0;
  font-weight: bold;
  position: absolute;
  padding-left: 5px;
}

#result_box {
  background: #DFDFDF;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  margin: 15px;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#error {
  color: red;
}

.value {
  font-weight: bold;
}

.parenthesis {
  font-weight: normal;
  color: gray
}
